.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.display {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.test-name {
  margin-top: 5rem;

  height: 50rem;

  
  padding: 2rem 0;
  background: #ffe336;

  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 5px black;
  border-radius: 3px;
  border: none
}